---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo
spec:
  interval: 30m
  chart:
    spec:
      # Using single binary tempo chart for resource efficiency
      chart: tempo
      version: 1.15.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  releaseName: tempo
  targetNamespace: tempo
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  # Using external Minio on node1 (10.0.0.11:9000)
  valuesFrom:
  - kind: ConfigMap
    name: tempo-helm-values
    valuesKey: base-values.yaml