---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vaultwarden
  namespace: vaultwarden
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
    cert-manager.io/common-name: vault.${CLUSTER_DOMAIN}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - vault.${CLUSTER_DOMAIN}
      secretName: vaultwarden-tls
  rules:
    - host: vault.${CLUSTER_DOMAIN}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: vaultwarden
                port:
                  number: 80
