---
# ------------------------------------------
# CENTRALIZED SAN (ALTERNATIVE ARCHITECTURE)
# ------------------------------------------
# Variables for configuring iSCSI in gateway node
# Local Storage and LUNs creation + iSCSI Target Configuration

##############
# Storage Role
##############

storage_volumegroups:
  - name: vg_iscsi
    devices:
      - /dev/nvme0n1p3

storage_volumes:
  - name: vg_iscsi_lv_node2
    vg: vg_iscsi
    size: 100g

###################
# iSCSI_Target Role
###################

# Override packages for Ubuntu 24.04 compatibility
iscsi_packages:
  - python3-setuptools  # replaces python3-distutils in Ubuntu 24.04
  - targetcli-fb

iscsi_targets:
  - name: iqn.2025-01.com.jacobgade:node1
    disks:
      - name: lun_node2
        path: /dev/vg_iscsi/vg_iscsi_lv_node2
        type: block
        lunid: 0
    initiators:
      - name: iqn.2025-01.com.jacobgade:node2
        authentication:
          userid: iqn.2025-01.com.jacobgade:node2
          password: "{{ vault.san.iscsi.node_pass }}"
          userid_mutual: iqn.2025-01.com.jacobgade:node1
          password_mutual: "{{ vault.san.iscsi.password_mutual }}"
        mapped_luns:
          - mapped_lunid: 0
            lunid: 0
    portals:
      - ip: 10.0.0.11
